<div class="inventory-filters flexcol">
    <ul class="flexrow attributes">
        <li class="init flex4 attribute">
            <h3 class="category-label">
                {{localize "fantasycraft.appearance"}}
            </h3>
            <div>
                <textarea class="text-area" name="system.details.appearance">{{actor.system.details.appearance}}</textarea>
            </div>
        </li>
        <li class="init flex4 attribute">
            <h3 class="category-label">
                {{localize "fantasycraft.featuresandTraits"}}
            </h3>
            <div>
                <textarea class="text-area" name="system.details.traits">{{actor.system.details.traits}}</textarea>
            </div>
        </li>
    </ul>

    <ul class="flexrow attributes">
        <li>
            <h3 class="category-label">
                {{localize "fantasycraft.background"}}
            </h3>
            <div>
                <textarea class="text-area" name="system.details.background">{{actor.system.details.background}}</textarea>
            </div>
        </li>
        <li>
            <h3 class="category-label">
                {{localize "fantasycraft.notes"}}
            </h3>
            <div>
                <textarea class="text-area" name="system.details.notes">{{actor.system.details.notes}}</textarea>
            </div>
        </li>
    </ul>
</div>