<div class="item ownedItem flexrow" data-item-id="{{id}}" data-item-name="{{name}}">
    <div class="flex6">
        <a class="roll-natural-attack" data-roll-info='{{id}}'>
            <i class="fas fa-dice-d20"></i>
        </a>
        <div class="flex5">
            <div>
                <span>{{name}} </span>
                {{#if inSheet}} 
                    {{system.damage.value}} {{localize system.damageType}} {{localize "fantasycraft.threat"}} {{system.threat}} 
                    {{else}} 
                    <br> 
                {{/if}} 
            </div>
            <div>
                {{localize "fantasycraft.qualities"}}: 
                {{#each system.naturalUpgrades as |prop id|}}
                    {{#if prop}}
                    {{#compare prop "" operator="!="}}
                    {{#compare prop "0" operator="!="}}
                        {{id}}{{#if (isBool prop)}}{{else}} {{prop}}{{/if}}
                        {{/compare}}
                        {{/compare}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="flex1">
        <a class="editItem">
            <i class="fas fa-edit"></i>
        </a>
        <a class="deleteItem">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</div>
