<tr data-spell={{id}}>
    <td><a class="spellCard">{{name}}</a></td>
    <td class="table-item">{{system.level}}</td>
    <td class="table-item">{{system.castingTime.value}} {{localize system.castingTime.increment}}</td>
    <td class="table-item">{{localize system.distance.description}} {{#if system.distance.rangedAttack}}({{localize "fantasycraft.rangedAttack"}}){{/if}}</td>
    {{! Spell Area }}
    <td class="table-item">
        {{#compare system.area.value "0" operator="!="}}
            {{system.area.value}} 
            {{#if system.area.customShape}}{{else}}{{localize "fantasycraft.ft"}}{{/if}} 
            {{#if system.area.perLevel}}{{localize "fantasycraft.perCastingLevel"}}{{/if}} 
            {{#if system.area.penetrating}}{{localize "fantasycraft.penetrating"}}{{/if}} 
            {{#if system.area.customShape}}{{else}}{{localize system.area.shape}}{{/if}}
        {{/compare}}
        {{#compare system.area.value "0" operator="=="}}
        -
        {{/compare}}
    </td>
    {{! Spell Duration }}
    <td class="table-item">
        {{#if system.duration.isNotInstantOrPermanent}}
            {{system.duration.number}}    {{localize system.duration.increment}} 
            {{#if system.duration.perCastingLevel}}
                {{localize "fantasycraft.perCastingLevel"}}
            {{/if}}
        {{else}}
            {{system.duration.value}}
        {{/if}}
        {{#if system.duration.durationKeyword}} ({{~/if~}}
        {{~#if system.duration.dismissable~}}
            {{~localize "fantasycraft.dismissable"~}}
        {{~/if~}}
        {{~#if system.duration.enduring~}}
            {{~#if system.duration.dismissable~}}
            , 
            {{/if}}
            {{~localize "fantasycraft.enduring"~}}
        {{~/if~}}
        {{~#if system.duration.durationKeyword~}}){{/if}}
    </td>
    {{! Spell Saves }}
    <td class="table-item">
    {{#if system.save.hasSave}}
        {{system.save.saveType}} {{system.save.saveEffect}}
        {{#if system.save.saveKeywords}}
            (
                {{~#each system.save.saveKeywords as |v k|~}}
                    {{~v~}}
                {{~/each~}}
            )
        {{/if}}
        {{#if system.save2.hasSave}}, {{system.save2.saveType}} {{system.save2.saveEffect}} 
        {{#if system.save2.saveKeywords}}
            (
                {{~#each system.save2.saveKeywords as |v k|~}}
                    {{~v~}}
                {{~/each~}}
            )
        {{/if}}
        {{/if}}
        {{else}}
        {{localize "fantasycraft.none"}}
    {{/if}}
    </td>
    <td class="table-item">{{system.preparationCost}}</td>
    <td>                
        <div class="item" data-item-id="{{id}}" data-item-name="{{name}}">
            <a class="editItem">
                <i class="fas fa-edit"></i>
            </a>
            <a class="deleteItem">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </td>
</tr>