<div class="tab flexrow active" data-group="primary" data-tab="description">

    {{#if isObject}}
    <div class="item-properties">
        <div class="form-group">
            <label>{{ localize "fatansycraft.Item.quantity" }}</label>
            <input type="text" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>{{ localize "fatansycraft.Item.weight" }}</label>
            <input type="text" name="system.weight" value="{{item.system.weight}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>{{ localize "fatansycraft.Item.cost" }}</label>
            <input type="text" name="system.price" value="{{item.system.price}}" data-dtype="Number"/>
        </div>

        <ol class="properties-list">
            {{#each itemProperties}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
    {{/if}}

    {{editor item.system.description.value target="system.description.value" button=true owner=owner editable=editable}}
</div>
