<form>
    <div class="form-group">
        <label>{{ localize "fantasycraft.formula" }}</label>
        <input type="text" name="formula" value="{{formula}}" disabled/>
    </div>


    {{#if ammo}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.ammunition" }}</label>
        <select name="ammunition">
            {{#each ammo}}
                <option value="{{_id}}"> {{name}} </option>
            {{/each}}
        </select>
    </div>
    {{/if}}

    {{#if powerAttack}}
    <div class="form-group">
        {{#if isRanged}} <label>{{ localize "fantasycraft.bullseye" }}</label>
        {{else}} <label>{{ localize "fantasycraft.allOutAttack" }}</label>
        {{/if}}
        <input type="number" name="powerAttackValue" value="" placeholder="0" /> 
    </div>
    {{/if}}
    {{#if multiAttack}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.multiAttack" }}</label>
        <div>
            <label>0</label><input type="radio" name="multiAttackPenalty" value="0" />
            <label>-2</label><input type="radio" name="multiAttackPenalty" value="2" />
            <label>-5</label><input type="radio" name="multiAttackPenalty" value="5" />
        </div>
    </div>
    {{/if}}
    {{#if stance}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.stance" }}</label>
        <input type="number" name="stanceValue" value="" placeholder="0" />
    </div>    
    {{/if}}
    
    <div class="form-group">
        <label>{{ localize "fantasycraft.moraleBonus" }}</label>
        <input type="number" name="moraleValue" value="" placeholder="0" />
    </div>

    <div class="form-group">
        <label>{{ localize "fantasycraft.trickSelection" }}</label>
        <select name="trick">
            <option name=""></option>
            {{#each tricks}}
                <option value={{_id}}>{{name}}</option>
            {{/each}}
        </select>
    </div>

</form>