<div class="chat-card weapon" data-item-id="{{item.id}}" data-owner-id="{{actor._id}}" data-trick1="{{data.trick1._id}}" data-trick2="{{data.trick2._id}}" >

    <header class="card-header">
      <div class="attackbox">
        <div class="boxline">
          <div><b>{{localize "fantasycraft.damage"}}:</b></div>
          <div class="headertext">{{item.name}}</div>
        </div>
    </header>

    <div class="dice-roll">
        <div class="dice-result">
            <div class="dice-formula">
                {{data.formula}}
            </div>
            <div class="dice-tooltip">
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">{{data.formula}}</span>
                            {{#if this.flavor}}<span class="part-flavor">{{data.flavor}}</span>{{/if}}
                            <span class="part-total">{{data.roll}}</span>
                        </header>
                        <ol class="dice-rolls">
                        {{#each data.diceRoll as |k v|}}
                            <li class="roll {{data.classes}}"> {{k.result}}</li>
                        {{/each}}
                        </ol>
                    </div>
                </section>
            </div>
            <div class="dice-total {{#if data.threat}}threat{{/if}} {{#if data.error}}error{{/if}} ">
                {{data.roll}} {{data.damageType}}
            </div>
        </div>
    </div>
    <div class="card-buttons" data-ap="{{data.ap}}" data-damage="{{data.roll}}" data-type="{{data.damageType}}">
        <button class="apply">{{localize "fantasycraft.applyDamage"}} </button>
    </div>
    
    <div class="card-buttons" data-ap="{{data.ap}}" data-damage="{{data.roll}}" data-type="{{data.damageType}}">
        <button class="apply">{{localize "fantasycraft.criticalHit"}} </button>
    </div>
    
    <div class="card-buttons" data-ap="{{data.ap}}" data-damage="{{data.roll}}" data-type="{{data.damageType}}">
        <button class="apply">{{localize "fantasycraft.halfDamage"}} </button>
    </div>
</div>