<div class="chat-card skill" data-owner-id="{{actor._id}}" data-trick1="{{data.trick._id}}" data-target-id="{{data.target}}">

    <header class="card-header">
      <div class="attackbox">
        <div class="boxline">
            <div><b>{{localize "fantasycraft.action"}}:</b></div>
            <div class="headertext"><b>{{rollDescription}}</b></div>
        </div>
    </header>

    <div class="dice-roll">
        <div class="dice-result">
            <div class="dice-formula">
                {{data.formula}}
            </div>
            <div class="dice-tooltip">
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">{{data.formula}}</span>
                            {{#if this.flavor}}<span class="part-flavor">{{data.flavor}}</span>{{/if}}
                            <span class="part-total">{{data.diceRoll}}</span>
                        </header>
                        <ol class="dice-rolls">
                        {{#each data.rolls}}
                            <li class="roll {{data.classes}}">{{{data.result}}}</li>
                        {{/each}}
                        </ol>
                    </div>
                </section>
            </div>

            <div class="dice-total">
                {{data.roll}}
            </div>
            
            {{#if data.trick}}
            <div class="card-content">
                <div><b>{{localize "fantasycraft.trick"}}: </b>{{data.trick.name}}</div>
            </div>
            {{/if}}

             {{#if data.hasDamage}}       
            <div class="card-buttons" data-attack-roll="{{data.roll}}" data-attack-roll="{{data.threat}}" data-damage-formula="{{data.damageFormula}}">
                <button class="damage">{{localize "fantasycraft.damage"}} </button>
            </div>
            {{/if}}
        </div>
    </div>
</div>