<div class="chat-card weapon" data-item-id="{{item.id}}" data-owner-id="{{actor._id}}" data-trick1="{{data.trick1._id}}" data-trick2="{{data.trick2._id}}" data-target-id="{{data.target}}" data-ammo="{{data.ammo}}">

    <header class="card-header">
      <div class="attackbox">
        <div class="boxline">
          <div><b>{{localize "fantasycraft.attack"}}:</b></div>
          <div class="headertext">{{item.name}}</div>
        </div>
    </header>

    <div class="dice-roll">
        <div class="dice-result">
            <div class="dice-formula">
                {{data.formula}}
            </div>
            <div class="dice-tooltip">
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">{{data.formula}}</span>
                            {{#if this.flavor}}<span class="part-flavor">{{data.flavor}}</span>{{/if}}
                            <span class="part-total">{{data.diceRoll}}</span>
                        </header>
                        <ol class="dice-rolls">
                        {{#each data.rolls}}
                            <li class="roll {{data.classes}}">{{{data.result}}}</li>
                        {{/each}}
                        </ol>
                    </div>
                </section>
            </div>
            <div class="dice-total {{#if data.threat}}threat{{/if}} {{#if data.error}}error{{/if}} ">
                {{data.roll}}
            </div>
        </div>
    </div>

    {{#compare data.trick1 "" operator="!="}}
    <div class="card-content">
        <div><b>{{localize "fantasycraft.trick"}}: </b></div>
        <div>{{data.trick1.name}}</div>
    </div>
    {{/compare}}

    <div class="card-content">
        <div><b>{{localize "fantasycraft.weaponProperties"}}: </b></div>
        <div>
            {{#each data.qualities as |quality id|}}
                {{#if quality}}
                {{#compare quality "none" operator="!="}}
                    {{id}}{{#if (isBool quality)}}{{else}} {{quality}}{{/if}}
                    {{/compare}}
                {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="card-buttons" data-ap="{{data.qualities.ap}}" data-attack-roll="{{data.roll}}" data-attack-roll="{{data.threat}}">
        <button class="damage">{{localize "fantasycraft.damage"}} </button>
    </div>
    {{#if data.maxDamage}}
    <div class="card-buttons" data-ap="{{data.qualities.ap}}" data-attack-roll="{{data.roll}}" data-attack-roll="{{data.threat}}">
        <button class="damage">{{localize "fantasycraft.maxDamage"}} </button>
    </div>    
    {{/if}}
    {{#if data.trick1.system.button.requiresButton}}
    <div class="card-buttons">
        <button class="{{data.trick1.system.effect.additionalEffect}}">{{localize data.trick1.system.button.buttonText}} </button>
    </div>    
    {{/if}}
    {{#if data.trick2.system.button.requiresButton}}
    <div class="card-buttons">
        <button class="{{data.trick2.system.effect.additionalEffect}}">{{localize data.trick2.system.button.buttonText}} </button>
    </div>
    {{/if}}
</div>