<form autocomplete="off" onsubmit="event.preventDefault();">
    <header>{{localize "fantasycraft.Dialog.actionDiceUses"}}</header>
    <ol class="trait-list">
        <li>
            <span>{{localize "fantasycraft.Dialog.boostRoll"}}</span>
        </li>
        <li>
            <span>{{localize "fantasycraft.Dialog.boostDefense"}}</span>
        </li>
        <li>            
            <span>{{localize "fantasycraft.Dialog.activateThreat"}}</span>
        </li>
        <li>
            <span>{{localize "fantasycraft.Dialog.healCharacter"}}</span>
        </li>
    <button type="submit" name="submit" value="1">{{ localize "fantasycraft.close"}}</button>
</form>
