<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group stacked">
        <label>{{ localize "fantasycraft.traitSelectorSpecial" }}</label>
        <input type="text" name="custom" value="{{custom}}" data-dtype="String"/>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "fantasycraft.traitSave"}}</button>
</form>
