<form class="{{cssClass}} item-form flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="itemHeader">
        <h1 class="itemName flexrow">
            <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'fantasycraft.ItemName' }}"/>
        </h1>
    </header>
    <nav class="sheet-navigation sheet-tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "fantasycraft.description" }}</a>
        <a class="item" data-tab="feature-customization">{{ localize "fantasycraft.customization" }}</a>
    </nav>
    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attributes" data-group="primary" data-tab="description">
            {{!-- Description Tab --}}
            <span>{{{item.system.description.value}}}</span>
            <div>
                <label><b>{{localize "fantasycraft.step1"}}</b></label>
                <span>{{> "systems/fantasycraft/templates/items/parts/path-step-part.hbs" step=item.system.step1}}</span>
            </div>
            <div>
                <label><b>{{localize "fantasycraft.step2"}}</b></label>
                <span>{{> "systems/fantasycraft/templates/items/parts/path-step-part.hbs" step=item.system.step2}}</span>
            </div>
            <div>
                <label><b>{{localize "fantasycraft.step3"}}</b></label>
                <span>{{> "systems/fantasycraft/templates/items/parts/path-step-part.hbs" step=item.system.step3}}</span>
            </div>
            <div>
                <label><b>{{localize "fantasycraft.step4"}}</b></label>
                <span>{{> "systems/fantasycraft/templates/items/parts/path-step-part.hbs" step=item.system.step4}}</span>
            </div>
            <div>
                <label><b>{{localize "fantasycraft.step5"}}</b></label>
                <span>{{> "systems/fantasycraft/templates/items/parts/path-step-part.hbs" step=item.system.step5}}</span>
            </div>
        </div>
        {{!customization}}
        <div class="tab attributes" data-group="primary" data-tab="feature-customization">
            {{!Feat, Spells, resistances, skill bonus, damage bonus, damage immunity, speed, save bonus, Other}} {{! Circumstantial, flat, scaling by path step}}
            {{!Step 1}}
            <div class="item-customization-section">
                <label><b>{{localize "fantasycraft.step1"}}</b></label>

                <div class="form-group item-customization-section">
                    <label><b>{{localize "fantasycraft.effect"}} 1</b></label>
                    <div>
                        <select name="system.step1.effect1">
                            {{#select item.system.step1.effect1}}
                            {{#each config.pathEffects as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>

                        {{#compare item.system.step1.effect1 "other" operator="!="}}

                        {{#compare item.system.step1.effect1 "spell" operator="=="}}
                            <input type="text" name="system.step1.value1" value="{{item.system.step1.value1}}">

                            <select name="system.step1.spell1Reset">
                                {{#select item.system.step1.spell1Reset}}
                                    <option value="atWill">{{localize "fantasycraft.atWill"}}</option>
                                    <option value="perScene">{{localize "fantasycraft.scene"}}</option>
                                    <option value="perAdventure">{{localize "fantasycraft.adventure"}}</option>
                                {{/select}}
                            </select>        
                        {{/compare}}
                        
                        {{#compare item.system.step1.effect1 "feat" operator="=="}}
                            <input type="text" name="system.step1.value1" value="{{item.system.step1.value1}}" placeholder="Feat Name">
                        {{/compare}}
                        
                        {{#compare item.system.step1.effect1 "damageImmunity" operator="=="}}
                            <select name="system.step1.value1">
                                {{#select item.system.step1.value1}}
                                {{#each config.damageTypes as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        {{/compare}}

                        {{#compare item.system.step1.effect1 "spell" operator="!="}} {{#compare item.system.step1.effect1 "damageImmunity" operator="!="}} {{#compare item.system.step1.effect1 "feat" operator="!="}}

                            {{#compare item.system.step1.effect1 "resistances" operator="=="}}
                            <select name="system.step1.damageType1">
                                {{#select item.system.step1.damageType1}}
                                {{#each config.damageTypes as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                    <option value="unarmed">{{localize "fantasycraft.unarmed"}}</option>
                                    <option value="edged">{{localize "fantasycraft.edged"}}</option>
                                    <option value="blunt">{{localize "fantasycraft.blunt"}}</option>
                                    <option value="bows">{{localize "fantasycraft.bows"}}</option>
                                    <option value="hurled">{{localize "fantasycraft.hurled"}}</option>
                                    <option value="blackPowder">{{localize "fantasycraft.blackPowder"}}</option>
                                    <option value="siege">{{localize "fantasycraft.siege"}}</option>
                                    <option value="other">{{localize "fantasycraft.other"}}</option>
                                {{/select}}
                            </select>
                            {{/compare}}
                            <input type="number" name="system.step1.value1" value="{{item.system.step1.value1}}">
                            <select name="system.step1.effect1Scaling">
                                {{#select item.system.step1.effect1Scaling}}
                                    <option value="false">{{localize "fantasycraft.flatValue"}}</option>
                                    <option value="true">{{localize "fantasycraft.perPathStep"}}</option>
                                {{/select}}
                            </select>

                            {{#compare item.system.step1.effect1 "skillBonus" operator="=="}} 
                            <select name="system.step1.target1">
                                {{#select item.system.step1.target1}}
                                {{#each config.skills as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                    <option value="knowledge">{{localize "fantasycraft.knowledge"}}</option>
                                {{/select}}
                            </select>
                            {{/compare}}
                            {{#compare item.system.step1.effect1 "saveBonus" operator="=="}} 
                            <select name="system.step1.target1">
                                {{#select item.system.step1.target1}}
                                {{#each config.savingThrow as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                <option value="circumstantial">{{localize "fantasycraft.circumstantial"}}</option>
                                {{/select}}
                            </select>
                            {{/compare}}

                        {{/compare}} {{/compare}} {{/compare}}
                        
                        {{/compare}}

                        {{#compare item.system.step1.effect1 "other" operator="=="}}
                            <input type="text" name="system.step1.value1" value="{{item.system.step1.value1}}">
                        {{/compare}}
                    </div>
                </div>
                <div class="form-group item-customization-section">
                    <label><b>{{localize "fantasycraft.effect"}} 2</b></label>
                    <div>
                    <select name="system.step1.effect2">
                        {{#select item.system.step1.effect2}}
                        <option value=""></option>
                        {{#each config.pathEffects as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    {{#compare item.system.step1.effect2 "other" operator="!="}}

                    {{#compare item.system.step1.effect2 "spell" operator="=="}}
                        <input type="text" name="system.step1.value2" value="{{item.system.step1.value2}}">

                        <select name="system.step1.spell2Reset">
                            {{#select item.system.step1.spell2Reset}}
                                <option value="atWill">{{localize "fantasycraft.atWill"}}</option>
                                <option value="perScene">{{localize "fantasycraft.scene"}}</option>
                                <option value="perAdventure">{{localize "fantasycraft.adventure"}}</option>
                            {{/select}}
                        </select>        
                    {{/compare}}
                    
                    {{#compare item.system.step1.effect2 "feat" operator="=="}}
                        <input type="text" name="system.step1.value2" value="{{item.system.step1.value2}}" placeholder="Feat Name">
                    {{/compare}}
                    
                    {{#compare item.system.step1.effect2 "damageImmunity" operator="=="}}
                        <select name="system.step1.value2">
                            {{#select item.system.step1.value2}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    {{/compare}}

                    {{#compare item.system.step1.effect2 "spell" operator="!="}} {{#compare item.system.step1.effect2 "damageImmunity" operator="!="}} {{#compare item.system.step1.effect2 "feat" operator="!="}}

                        {{#compare item.system.step1.effect2 "resistances" operator="=="}}
                        <select name="system.step1.damageType2">
                            {{#select item.system.step1.damageType2}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                <option value="unarmed">{{localize "fantasycraft.unarmed"}}</option>
                                <option value="edged">{{localize "fantasycraft.edged"}}</option>
                                <option value="blunt">{{localize "fantasycraft.blunt"}}</option>
                                <option value="bows">{{localize "fantasycraft.bows"}}</option>
                                <option value="hurled">{{localize "fantasycraft.hurled"}}</option>
                                <option value="blackPowder">{{localize "fantasycraft.blackPowder"}}</option>
                                <option value="siege">{{localize "fantasycraft.siege"}}</option>
                                <option value="other">{{localize "fantasycraft.other"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        <input type="number" name="system.step1.value2" value="{{item.system.step1.value2}}">
                        <select name="system.step1.effect2Scaling">
                            {{#select item.system.step1.effect2Scaling}}
                                <option value="false">{{localize "fantasycraft.flatValue"}}</option>
                                <option value="true">{{localize "fantasycraft.perPathStep"}}</option>
                            {{/select}}
                        </select>

                        {{#compare item.system.step1.effect2 "skillBonus" operator="=="}} 
                        <select name="system.step1.target2">
                            {{#select item.system.step1.target2}}
                            {{#each config.skills as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        {{/compare}}
                        {{#compare item.system.step1.effect2 "saveBonus" operator="=="}} 
                        <select name="system.step1.target2">
                            {{#select item.system.step1.target2}}
                            {{#each config.savingThrow as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            <option value="circumstantial">{{localize "fantasycraft.circumstantial"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}

                    {{/compare}} {{/compare}} {{/compare}}
                    
                    {{/compare}}

                    {{#compare item.system.step1.effect2 "other" operator="=="}}
                        <input type="text" name="system.step1.value2" value="{{item.system.step1.value2}}">
                    {{/compare}}
                </div>
            </div>
        </div>
            {{!Step 2}}
        <div class="item-customization-section">
            <label><b>{{localize "fantasycraft.step2"}}</b></label>

            <div class="form-group item-customization-section">
                <label><b>{{localize "fantasycraft.effect"}} 1</b></label>
                <div>
                    <select name="system.step2.effect1">
                        {{#select item.system.step2.effect1}}
                        {{#each config.pathEffects as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    {{#compare item.system.step2.effect1 "other" operator="!="}}

                    {{#compare item.system.step2.effect1 "spell" operator="=="}}
                        <input type="text" name="system.step2.value1" value="{{item.system.step2.value1}}">

                        <select name="system.step2.spell1Reset">
                            {{#select item.system.step2.spell1Reset}}
                                <option value="atWill">{{localize "fantasycraft.atWill"}}</option>
                                <option value="perScene">{{localize "fantasycraft.scene"}}</option>
                                <option value="perAdventure">{{localize "fantasycraft.adventure"}}</option>
                            {{/select}}
                        </select>        
                    {{/compare}}
                    
                    {{#compare item.system.step2.effect1 "feat" operator="=="}}
                        <input type="text" name="system.step2.value1" value="{{item.system.step2.value1}}" placeholder="Feat Name">
                    {{/compare}}
                    
                    {{#compare item.system.step2.effect1 "damageImmunity" operator="=="}}
                        <select name="system.step2.value1">
                            {{#select item.system.step2.value1}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    {{/compare}}

                    {{#compare item.system.step2.effect1 "spell" operator="!="}} {{#compare item.system.step2.effect1 "damageImmunity" operator="!="}} {{#compare item.system.step2.effect1 "feat" operator="!="}}
                        {{#compare item.system.step2.effect1 "resistances" operator="=="}}
                        <select name="system.step2.damageType1">
                            {{#select item.system.step2.damageType1}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                <option value="unarmed">{{localize "fantasycraft.unarmed"}}</option>
                                <option value="edged">{{localize "fantasycraft.edged"}}</option>
                                <option value="blunt">{{localize "fantasycraft.blunt"}}</option>
                                <option value="bows">{{localize "fantasycraft.bows"}}</option>
                                <option value="hurled">{{localize "fantasycraft.hurled"}}</option>
                                <option value="blackPowder">{{localize "fantasycraft.blackPowder"}}</option>
                                <option value="siege">{{localize "fantasycraft.siege"}}</option>
                                <option value="other">{{localize "fantasycraft.other"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        <input type="number" name="system.step2.value1" value="{{item.system.step2.value1}}">
                        <select name="system.step2.effect1Scaling">
                            {{#select item.system.step2.effect1Scaling}}
                                <option value="false">{{localize "fantasycraft.flatValue"}}</option>
                                <option value="true">{{localize "fantasycraft.perPathStep"}}</option>
                            {{/select}}
                        </select>
                        {{#compare item.system.step2.effect1 "skillBonus" operator="=="}} 
                        <select name="system.step2.target1">
                            {{#select item.system.step2.target1}}
                            {{#each config.skills as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                    <option value="knowledge">{{localize "fantasycraft.knowledge"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        {{#compare item.system.step2.effect1 "saveBonus" operator="=="}} 
                        <select name="system.step2.target1">
                            {{#select item.system.step2.target1}}
                            {{#each config.savingThrow as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            <option value="circumstantial">{{localize "fantasycraft.circumstantial"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}

                    {{/compare}} {{/compare}} {{/compare}}
                    
                    {{/compare}}
                    {{#compare item.system.step2.effect1 "other" operator="=="}}
                        <input type="text" name="system.step2.value1" value="{{item.system.step2.value1}}">
                    {{/compare}}

                </div>
            </div>

            <div class="form-group item-customization-section">
                <label><b>{{localize "fantasycraft.effect"}} 2</b></label>
                <div>
                    <select name="system.step2.effect2">
                        {{#select item.system.step2.effect2}}
                        <option value=""></option>
                        {{#each config.pathEffects as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    {{#compare item.system.step2.effect2 "other" operator="!="}}

                    {{#compare item.system.step2.effect2 "spell" operator="=="}}
                        <input type="text" name="system.step2.value2" value="{{item.system.step2.value2}}">

                        <select name="system.step2.spell2Reset">
                            {{#select item.system.step2.spell2Reset}}
                                <option value="atWill">{{localize "fantasycraft.atWill"}}</option>
                                <option value="perScene">{{localize "fantasycraft.scene"}}</option>
                                <option value="perAdventure">{{localize "fantasycraft.adventure"}}</option>
                            {{/select}}
                        </select>        
                    {{/compare}}
                    
                    {{#compare item.system.step2.effect2 "feat" operator="=="}}
                        <input type="text" name="system.step2.value2" value="{{item.system.step2.value2}}" placeholder="Feat Name">
                    {{/compare}}
                    
                    {{#compare item.system.step2.effect2 "damageImmunity" operator="=="}}
                        <select name="system.step2.value2">
                            {{#select item.system.step2.value2}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    {{/compare}}

                    {{#compare item.system.step2.effect2 "spell" operator="!="}} {{#compare item.system.step2.effect2 "damageImmunity" operator="!="}} {{#compare item.system.step2.effect2 "feat" operator="!="}}
                        {{#compare item.system.step2.effect2 "resistances" operator="=="}}
                        <select name="system.step2.damageType2">
                            {{#select item.system.step2.damageType2}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                <option value="unarmed">{{localize "fantasycraft.unarmed"}}</option>
                                <option value="edged">{{localize "fantasycraft.edged"}}</option>
                                <option value="blunt">{{localize "fantasycraft.blunt"}}</option>
                                <option value="bows">{{localize "fantasycraft.bows"}}</option>
                                <option value="hurled">{{localize "fantasycraft.hurled"}}</option>
                                <option value="blackPowder">{{localize "fantasycraft.blackPowder"}}</option>
                                <option value="siege">{{localize "fantasycraft.siege"}}</option>
                                <option value="other">{{localize "fantasycraft.other"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        <input type="number" name="system.step2.value2" value="{{item.system.step2.value2}}">
                        <select name="system.step2.effect2Scaling">
                            {{#select item.system.step2.effect2Scaling}}
                                <option value="false">{{localize "fantasycraft.flatValue"}}</option>
                                <option value="true">{{localize "fantasycraft.perPathStep"}}</option>
                            {{/select}}
                        </select>
                        {{#compare item.system.step2.effect2 "skillBonus" operator="=="}} 
                        <select name="system.step2.target2">
                            {{#select item.system.step2.target2}}
                            {{#each config.skills as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                    <option value="knowledge">{{localize "fantasycraft.knowledge"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        {{#compare item.system.step2.effect2 "saveBonus" operator="=="}} 
                        <select name="system.step2.target2">
                            {{#select item.system.step1.target2}}
                            {{#each config.savingThrow as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            <option value="circumstantial">{{localize "fantasycraft.circumstantial"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}


                    {{/compare}} {{/compare}} {{/compare}}
                    
                    {{/compare}}
                    {{#compare item.system.step2.effect2 "other" operator="=="}}
                        <input type="text" name="system.step2.value2" value="{{item.system.step2.value2}}">
                    {{/compare}}
                </div>
            </div>
        </div>

            {{!Step 3}}
        <div class="item-customization-section">
            <label><b>{{localize "fantasycraft.step3"}}</b></label>
            
            <div class="form-group item-customization-section">
                <label><b>{{localize "fantasycraft.effect"}} 1</b></label>
                <div>
                    <select name="system.step3.effect1">
                        {{#select item.system.step3.effect1}}
                        {{#each config.pathEffects as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    {{#compare item.system.step3.effect1 "other" operator="!="}}

                    {{#compare item.system.step3.effect1 "spell" operator="=="}}
                        <input type="text" name="system.step3.value1" value="{{item.system.step3.value1}}">

                        <select name="system.step3.spell1Reset">
                            {{#select item.system.step3.spell1Reset}}
                                <option value="atWill">{{localize "fantasycraft.atWill"}}</option>
                                <option value="perScene">{{localize "fantasycraft.scene"}}</option>
                                <option value="perAdventure">{{localize "fantasycraft.adventure"}}</option>
                            {{/select}}
                        </select>        
                    {{/compare}}
                    
                    {{#compare item.system.step3.effect1 "feat" operator="=="}}
                        <input type="text" name="system.step3.value1" value="{{item.system.step3.value1}}" placeholder="Feat Name">
                    {{/compare}}
                    
                    {{#compare item.system.step3.effect1 "damageImmunity" operator="=="}}
                        <select name="system.step3.value1">
                            {{#select item.system.step3.value1}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    {{/compare}}

                    {{#compare item.system.step3.effect1 "spell" operator="!="}} {{#compare item.system.step3.effect1 "damageImmunity" operator="!="}} {{#compare item.system.step3.effect1 "feat" operator="!="}}

                        {{#compare item.system.step3.effect1 "resistances" operator="=="}}
                        <select name="system.step3.damageType1">
                            {{#select item.system.step3.damageType1}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                <option value="unarmed">{{localize "fantasycraft.unarmed"}}</option>
                                <option value="edged">{{localize "fantasycraft.edged"}}</option>
                                <option value="blunt">{{localize "fantasycraft.blunt"}}</option>
                                <option value="bows">{{localize "fantasycraft.bows"}}</option>
                                <option value="hurled">{{localize "fantasycraft.hurled"}}</option>
                                <option value="blackPowder">{{localize "fantasycraft.blackPowder"}}</option>
                                <option value="siege">{{localize "fantasycraft.siege"}}</option>
                                <option value="other">{{localize "fantasycraft.other"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        <input type="number" name="system.step3.value1" value="{{item.system.step3.value1}}">
                        <select name="system.step3.effect1Scaling">
                            {{#select item.system.step3.effect1Scaling}}
                                <option value="false">{{localize "fantasycraft.flatValue"}}</option>
                                <option value="true">{{localize "fantasycraft.perPathStep"}}</option>
                            {{/select}}
                        </select>
                        {{#compare item.system.step3.effect1 "skillBonus" operator="=="}} 
                        <select name="system.step3.target1">
                            {{#select item.system.step3.target1}}
                            {{#each config.skills as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        {{/compare}}
                        {{#compare item.system.step3.effect1 "saveBonus" operator="=="}} 
                        <select name="system.step3.target1">
                            {{#select item.system.step3.target1}}
                            {{#each config.savingThrow as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            <option value="circumstantial">{{localize "fantasycraft.circumstantial"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}

                    {{/compare}} {{/compare}} {{/compare}}
                    
                    {{/compare}}
                    {{#compare item.system.step3.effect1 "other" operator="=="}}
                        <input type="text" name="system.step3.value1" value="{{item.system.step3.value1}}">
                    {{/compare}}

                </div>
            </div>

            <div class="form-group item-customization-section">
                <label><b>{{localize "fantasycraft.effect"}} 1</b></label>
                <div>
                    <select name="system.step3.effect2">
                        {{#select item.system.step3.effect2}}
                        <option value=""></option>
                        {{#each config.pathEffects as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    {{#compare item.system.step3.effect2 "other" operator="!="}}

                    {{#compare item.system.step3.effect2 "spell" operator="=="}}
                        <input type="text" name="system.step3.value2" value="{{item.system.step3.value2}}">

                        <select name="system.step3.spell2Reset">
                            {{#select item.system.step3.spell2Reset}}
                                <option value="atWill">{{localize "fantasycraft.atWill"}}</option>
                                <option value="perScene">{{localize "fantasycraft.scene"}}</option>
                                <option value="perAdventure">{{localize "fantasycraft.adventure"}}</option>
                            {{/select}}
                        </select>        
                    {{/compare}}
                    
                    {{#compare item.system.step3.effect2 "feat" operator="=="}}
                        <input type="text" name="system.step3.value2" value="{{item.system.step3.value2}}" placeholder="Feat Name">
                    {{/compare}}
                    
                    {{#compare item.system.step3.effect2 "damageImmunity" operator="=="}}
                        <select name="system.step3.value2">
                            {{#select item.system.step3.value2}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    {{/compare}}

                    {{#compare item.system.step3.effect2 "spell" operator="!="}} {{#compare item.system.step3.effect2 "damageImmunity" operator="!="}} {{#compare item.system.step3.effect2 "feat" operator="!="}}
                        {{#compare item.system.step3.effect2 "resistances" operator="=="}}
                        <select name="system.step3.damageType2">
                            {{#select item.system.step3.damageType2}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                <option value="unarmed">{{localize "fantasycraft.unarmed"}}</option>
                                <option value="edged">{{localize "fantasycraft.edged"}}</option>
                                <option value="blunt">{{localize "fantasycraft.blunt"}}</option>
                                <option value="bows">{{localize "fantasycraft.bows"}}</option>
                                <option value="hurled">{{localize "fantasycraft.hurled"}}</option>
                                <option value="blackPowder">{{localize "fantasycraft.blackPowder"}}</option>
                                <option value="siege">{{localize "fantasycraft.siege"}}</option>
                                <option value="other">{{localize "fantasycraft.other"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        <input type="number" name="system.step3.value2" value="{{item.system.step3.value2}}">
                        <select name="system.step3.effect2Scaling">
                            {{#select item.system.step3.effect2Scaling}}
                                <option value="false">{{localize "fantasycraft.flatValue"}}</option>
                                <option value="true">{{localize "fantasycraft.perPathStep"}}</option>
                            {{/select}}
                        </select>
                        {{#compare item.system.step3.effect2 "skillBonus" operator="=="}} 
                        <select name="system.step3.target2">
                            {{#select item.system.step3.target2}}
                            {{#each config.skills as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                    <option value="knowledge">{{localize "fantasycraft.knowledge"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        {{#compare item.system.step3.effect2 "saveBonus" operator="=="}} 
                        <select name="system.step3.target2">
                            {{#select item.system.step3.target2}}
                            {{#each config.savingThrow as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            <option value="circumstantial">{{localize "fantasycraft.circumstantial"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}

                    {{/compare}} {{/compare}} {{/compare}}
                    
                    {{/compare}}
                    {{#compare item.system.step3.effect2 "other" operator="=="}}
                        <input type="text" name="system.step3.value2" value="{{item.system.step3.value2}}">
                    {{/compare}}
                    </div>
                </div>
            </div>

            {{!Step 4}}
            <div class="item-customization-section">
                <label><b>{{localize "fantasycraft.step4"}}</b></label>
                
                <div class="form-group item-customization-section">
                    <label><b>{{localize "fantasycraft.effect"}} 1</b></label>
                    <div>
                    <select name="system.step4.effect1">
                        {{#select item.system.step4.effect1}}
                        {{#each config.pathEffects as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    {{#compare item.system.step4.effect1 "other" operator="!="}}

                    {{#compare item.system.step4.effect1 "spell" operator="=="}}
                        <input type="text" name="system.step4.value1" value="{{item.system.step4.value1}}">

                        <select name="system.step4.spell1Reset">
                            {{#select item.system.step4.spell1Reset}}
                                <option value="atWill">{{localize "fantasycraft.atWill"}}</option>
                                <option value="perScene">{{localize "fantasycraft.scene"}}</option>
                                <option value="perAdventure">{{localize "fantasycraft.adventure"}}</option>
                            {{/select}}
                        </select>        
                    {{/compare}}
                    
                    {{#compare item.system.step4.effect1 "feat" operator="=="}}
                        <input type="text" name="system.step4.value1" value="{{item.system.step4.value1}}" placeholder="Feat Name">
                    {{/compare}}
                    
                    {{#compare item.system.step4.effect1 "damageImmunity" operator="=="}}
                        <select name="system.step4.value1">
                            {{#select item.system.step4.value1}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    {{/compare}}

                    {{#compare item.system.step4.effect1 "spell" operator="!="}} {{#compare item.system.step4.effect1 "damageImmunity" operator="!="}} {{#compare item.system.step4.effect1 "feat" operator="!="}}

                        {{#compare item.system.step4.effect1 "resistances" operator="=="}}
                        <select name="system.step4.damageType1">
                            {{#select item.system.step4.damageType1}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                <option value="unarmed">{{localize "fantasycraft.unarmed"}}</option>
                                <option value="edged">{{localize "fantasycraft.edged"}}</option>
                                <option value="blunt">{{localize "fantasycraft.blunt"}}</option>
                                <option value="bows">{{localize "fantasycraft.bows"}}</option>
                                <option value="hurled">{{localize "fantasycraft.hurled"}}</option>
                                <option value="blackPowder">{{localize "fantasycraft.blackPowder"}}</option>
                                <option value="siege">{{localize "fantasycraft.siege"}}</option>
                                <option value="other">{{localize "fantasycraft.other"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        <input type="number" name="system.step4.value1" value="{{item.system.step4.value1}}">
                        <select name="system.step4.effect1Scaling">
                            {{#select item.system.step4.effect1Scaling}}
                                <option value="false">{{localize "fantasycraft.flatValue"}}</option>
                                <option value="true">{{localize "fantasycraft.perPathStep"}}</option>
                            {{/select}}
                        </select>
                        {{#compare item.system.step4.effect1 "skillBonus" operator="=="}} 
                        <select name="system.step4.target1">
                            {{#select item.system.step4.target1}}
                            {{#each config.skills as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                    <option value="knowledge">{{localize "fantasycraft.knowledge"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        {{#compare item.system.step4.effect1 "saveBonus" operator="=="}} 
                        <select name="system.step4.target1">
                            {{#select item.system.step4.target1}}
                            {{#each config.savingThrow as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            <option value="circumstantial">{{localize "fantasycraft.circumstantial"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}

                    {{/compare}} {{/compare}} {{/compare}}
                    
                    {{/compare}}
                    {{#compare item.system.step4.effect1 "other" operator="=="}}
                        <input type="text" name="system.step4.value1" value="{{item.system.step4.value1}}">
                    {{/compare}}

                </div>
                </div>
                
                <div class="form-group item-customization-section">
                    <label><b>{{localize "fantasycraft.effect"}} 1</b></label>
                    <div>

                    <select name="system.step4.effect2">
                        {{#select item.system.step4.effect2}}
                        <option value=""></option>
                        {{#each config.pathEffects as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    {{#compare item.system.step4.effect2 "other" operator="!="}}

                    {{#compare item.system.step4.effect2 "spell" operator="=="}}
                        <input type="text" name="system.step4.value2" value="{{item.system.step4.value2}}">

                        <select name="system.step4.spell2Reset">
                            {{#select item.system.step4.spell2Reset}}
                                <option value="atWill">{{localize "fantasycraft.atWill"}}</option>
                                <option value="perScene">{{localize "fantasycraft.scene"}}</option>
                                <option value="perAdventure">{{localize "fantasycraft.adventure"}}</option>
                            {{/select}}
                        </select>        
                    {{/compare}}
                    
                    {{#compare item.system.step4.effect2 "feat" operator="=="}}
                        <input type="text" name="system.step4.value2" value="{{item.system.step4.value2}}" placeholder="Feat Name">
                    {{/compare}}
                    
                    {{#compare item.system.step4.effect2 "damageImmunity" operator="=="}}
                        <select name="system.step4.value2">
                            {{#select item.system.step4.value2}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    {{/compare}}

                    {{#compare item.system.step4.effect2 "spell" operator="!="}} {{#compare item.system.step4.effect2 "damageImmunity" operator="!="}} {{#compare item.system.step4.effect2 "feat" operator="!="}}
                        {{#compare item.system.step4.effect2 "resistances" operator="=="}}
                        <select name="system.step4.damageType2">
                            {{#select item.system.step4.damageType2}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                <option value="unarmed">{{localize "fantasycraft.unarmed"}}</option>
                                <option value="edged">{{localize "fantasycraft.edged"}}</option>
                                <option value="blunt">{{localize "fantasycraft.blunt"}}</option>
                                <option value="bows">{{localize "fantasycraft.bows"}}</option>
                                <option value="hurled">{{localize "fantasycraft.hurled"}}</option>
                                <option value="blackPowder">{{localize "fantasycraft.blackPowder"}}</option>
                                <option value="siege">{{localize "fantasycraft.siege"}}</option>
                                <option value="other">{{localize "fantasycraft.other"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        <input type="number" name="system.step4.value2" value="{{item.system.step4.value2}}">
                        <select name="system.step4.effect2Scaling">
                            {{#select item.system.step4.effect2Scaling}}
                                <option value="false">{{localize "fantasycraft.flatValue"}}</option>
                                <option value="true">{{localize "fantasycraft.perPathStep"}}</option>
                            {{/select}}
                        </select>
                        {{#compare item.system.step4.effect2 "skillBonus" operator="=="}} 
                        <select name="system.step4.target2">
                            {{#select item.system.step4.target2}}
                            {{#each config.skills as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                    <option value="knowledge">{{localize "fantasycraft.knowledge"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        {{#compare item.system.step4.effect2 "saveBonus" operator="=="}} 
                        <select name="system.step4.target2">
                            {{#select item.system.step4.target2}}
                            {{#each config.savingThrow as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            <option value="circumstantial">{{localize "fantasycraft.circumstantial"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}

                    {{/compare}} {{/compare}} {{/compare}}
                    
                    {{/compare}}
                    {{#compare item.system.step4.effect2 "other" operator="=="}}
                        <input type="text" name="system.step4.value2" value="{{item.system.step4.value2}}">
                    {{/compare}}
                </div>
                </div>
            </div>

            {{!Step 5}}
            <div class="item-customization-section">
                <label><b>{{localize "fantasycraft.step5"}}</b></label>

                <div class="form-group item-customization-section">
                    <label><b>{{localize "fantasycraft.effect"}} 1</b></label>
                    <div>
                    <select name="system.step5.effect1">
                        {{#select item.system.step5.effect1}}
                        {{#each config.pathEffects as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    {{#compare item.system.step5.effect1 "other" operator="!="}}

                    {{#compare item.system.step5.effect1 "spell" operator="=="}}
                        <input type="text" name="system.step5.value1" value="{{item.system.step5.value1}}">

                        <select name="system.step5.spell1Reset">
                            {{#select item.system.step5.spell1Reset}}
                                <option value="atWill">{{localize "fantasycraft.atWill"}}</option>
                                <option value="perScene">{{localize "fantasycraft.scene"}}</option>
                                <option value="perAdventure">{{localize "fantasycraft.adventure"}}</option>
                            {{/select}}
                        </select>        
                    {{/compare}}
                    
                    {{#compare item.system.step5.effect1 "feat" operator="=="}}
                        <input type="text" name="system.step5.value1" value="{{item.system.step5.value1}}" placeholder="Feat Name">
                    {{/compare}}
                    
                    {{#compare item.system.step5.effect1 "damageImmunity" operator="=="}}
                        <select name="system.step5.value1">
                            {{#select item.system.step5.value1}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    {{/compare}}

                    {{#compare item.system.step5.effect1 "spell" operator="!="}} {{#compare item.system.step5.effect1 "damageImmunity" operator="!="}} {{#compare item.system.step5.effect1 "feat" operator="!="}}

                        {{#compare item.system.step5.effect1 "resistances" operator="=="}}
                        <select name="system.step5.damageType1">
                            {{#select item.system.step5.damageType1}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                <option value="unarmed">{{localize "fantasycraft.unarmed"}}</option>
                                <option value="edged">{{localize "fantasycraft.edged"}}</option>
                                <option value="blunt">{{localize "fantasycraft.blunt"}}</option>
                                <option value="bows">{{localize "fantasycraft.bows"}}</option>
                                <option value="hurled">{{localize "fantasycraft.hurled"}}</option>
                                <option value="blackPowder">{{localize "fantasycraft.blackPowder"}}</option>
                                <option value="siege">{{localize "fantasycraft.siege"}}</option>
                                <option value="other">{{localize "fantasycraft.other"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        <input type="number" name="system.step5.value1" value="{{item.system.step5.value1}}">
                        <select name="system.step5.effect1Scaling">
                            {{#select item.system.step5.effect1Scaling}}
                                <option value="false">{{localize "fantasycraft.flatValue"}}</option>
                                <option value="true">{{localize "fantasycraft.perPathStep"}}</option>
                            {{/select}}
                        </select>
                        {{#compare item.system.step5.effect1 "skillBonus" operator="=="}} 
                        <select name="system.step5.target1">
                            {{#select item.system.step5.target1}}
                            {{#each config.skills as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                    <option value="knowledge">{{localize "fantasycraft.knowledge"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        {{#compare item.system.step5.effect1 "saveBonus" operator="=="}} 
                        <select name="system.step5.target1">
                            {{#select item.system.step5.target1}}
                            {{#each config.savingThrow as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            <option value="circumstantial">{{localize "fantasycraft.circumstantial"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}

                    {{/compare}} {{/compare}} {{/compare}}
                    
                    {{/compare}}
                    {{#compare item.system.step5.effect1 "other" operator="=="}}
                        <input type="text" name="system.step5.value1" value="{{item.system.step5.value1}}">
                    {{/compare}}

                </div>
                </div>
                
                <div class="form-group item-customization-section">
                    <label><b>{{localize "fantasycraft.effect"}} 1</b></label>
                    <div>

                    <select name="system.step5.effect2">
                        {{#select item.system.step5.effect2}}
                            <option value=""></option>
                        {{#each config.pathEffects as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    {{#compare item.system.step5.effect2 "other" operator="!="}}

                    {{#compare item.system.step5.effect2 "spell" operator="=="}}
                        <input type="text" name="system.step5.value2" value="{{item.system.step5.value2}}">

                        <select name="system.step5.spell2Reset">
                            {{#select item.system.step5.spell2Reset}}
                                <option value="atWill">{{localize "fantasycraft.atWill"}}</option>
                                <option value="perScene">{{localize "fantasycraft.scene"}}</option>
                                <option value="perAdventure">{{localize "fantasycraft.adventure"}}</option>
                            {{/select}}
                        </select>        
                    {{/compare}}
                    
                    {{#compare item.system.step5.effect2 "feat" operator="=="}}
                        <input type="text" name="system.step5.value2" value="{{item.system.step5.value2}}" placeholder="Feat Name">
                    {{/compare}}
                    
                    {{#compare item.system.step5.effect2 "damageImmunity" operator="=="}}
                        <select name="system.step5.value2">
                            {{#select item.system.step5.value2}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    {{/compare}}

                    {{#compare item.system.step5.effect2 "spell" operator="!="}} {{#compare item.system.step5.effect2 "damageImmunity" operator="!="}} {{#compare item.system.step5.effect2 "feat" operator="!="}}
                        {{#compare item.system.step5.effect2 "resistances" operator="=="}}
                        <select name="system.step5.damageType2">
                            {{#select item.system.step5.damageType2}}
                            {{#each config.damageTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                <option value="unarmed">{{localize "fantasycraft.unarmed"}}</option>
                                <option value="edged">{{localize "fantasycraft.edged"}}</option>
                                <option value="blunt">{{localize "fantasycraft.blunt"}}</option>
                                <option value="bows">{{localize "fantasycraft.bows"}}</option>
                                <option value="hurled">{{localize "fantasycraft.hurled"}}</option>
                                <option value="blackPowder">{{localize "fantasycraft.blackPowder"}}</option>
                                <option value="siege">{{localize "fantasycraft.siege"}}</option>
                                <option value="other">{{localize "fantasycraft.other"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        <input type="number" name="system.step5.value2" value="{{item.system.step5.value2}}">
                        <select name="system.step5.effect2Scaling">
                            {{#select item.system.step5.effect2Scaling}}
                                <option value="false">{{localize "fantasycraft.flatValue"}}</option>
                                <option value="true">{{localize "fantasycraft.perPathStep"}}</option>
                            {{/select}}
                        </select>
                        {{#compare item.system.step5.effect2 "skillBonus" operator="=="}} 
                        <select name="system.step5.target2">
                            {{#select item.system.step5.target2}}
                            {{#each config.skills as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                                    <option value="knowledge">{{localize "fantasycraft.knowledge"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}
                        {{#compare item.system.step5.effect2 "saveBonus" operator="=="}} 
                        <select name="system.step5.target2">
                            {{#select item.system.step5.target2}}
                            {{#each config.savingThrow as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            <option value="circumstantial">{{localize "fantasycraft.circumstantial"}}</option>
                            {{/select}}
                        </select>
                        {{/compare}}

                    {{/compare}} {{/compare}} {{/compare}}
                    
                    {{/compare}}
                    {{#compare item.system.step5.effect2 "other" operator="=="}}
                        <input type="text" name="system.step5.value2" value="{{item.system.step5.value2}}">
                    {{/compare}}
                </div>
            </div>
        </div>
    </section>
</form>
